.inline {
	display: inline;
}

.file-upload {
	border: 1px solid #000000;
	border-radius: 5px;
	min-width: 120px;
	min-height: 20px;
	text-align: center;
	cursor: pointer;
}

.randomize {
	border: 1px solid #000000;
	border-radius: 5px;
	min-width: 120px;
	min-height: 20px;
	text-align: center;
}

.center {
	display: flex;
	justify-content: space-around;
}

.left {
	display: flex;
	justify-content: flex-start;
}


.progress {
	background-color: #000000;
	height: 100%;
	animation: progressBar 3s ease-in-out;
	animation-fill-mode: both;
}

@keyframes progressBar {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

input[type="file"] {
	display: none;
}

input[type="button"] {
	display: none;
}

input {
	border: 1px solid #000000;
	border-radius: 5px;
	text-align: center;
	width: 120px;
	min-height: 20px;
}

html {
	padding: 2px;
}