.inline {
	display: inline;
}

.file-upload {
	border: 1px solid #000000;
	border-radius: 5px;
	min-width: 120px;
	min-height: 20px;
	text-align: center;
	cursor: pointer;
}

.randomize {
	border: 1px solid #000000;
	border-radius: 5px;
	min-width: 120px;
	min-height: 20px;
	text-align: center;
}

.segment {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;
	display: inline-block;
}

.center {
	display: flex;
	justify-content: space-around;
}

.left {
	display: flex;
	justify-content: flex-start;
}


.progress {
	background-color: #000000;
	height: 100%;
	animation: progressBar 3s ease-in-out;
	animation-fill-mode: both;
}

@keyframes progressBar {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

/* tooltip code from w3 */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	max-width: 160px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;

	top: 100%;
	left: 50%;
	margin-left: -60px;
	/* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

input[type="file"] {
	display: none;
}

input[type="button"] {
	display: none;
}

input {
	border: 1px solid #000000;
	border-radius: 5px;
	text-align: center;
	width: 120px;
	min-height: 20px;
}

html {
	padding: 2px;
}